:root {}


* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html,
body {
  max-width: 100vw;
  overflow-x: hidden;
}

body {
  width: 100%;
  height: 100vh;
}

#__next {
  height: 100%;
}

main {
  display: flex;
  flex-direction: column;
  height: 100%;
}

nav {
  border: 1px solid black;
}

#app {
  position: relative;
  display: flex;
  width: 100%;
  flex-grow: 1;
}

#app > div {
  border: 1px solid black;
  flex: 1 1 auto;
}

#app #components, #app #properties {
  width: 20%;
}

#app #builder {
  width: 60%;
  position: relative;
}

#app #builder #weeb-dropzone {
  position: absolute;
  z-index: 1;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  display: none;
}